<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{192,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,36}}</string>
                <key>sourceSize</key>
                <string>{192,36}</string>
            </dict>
            <key>floor_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,752},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>floor_sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,270},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>floor_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,584}}</string>
                <key>sourceSize</key>
                <string>{192,584}</string>
            </dict>
            <key>icon_drops.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,854},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_drops_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,752},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,862},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,752},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,472},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>obj_dart.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,196},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>obj_mud.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,270},{128,120}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_mud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,140},{128,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>txt_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{360,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,52}}</string>
                <key>sourceSize</key>
                <string>{360,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_spr.png</string>
            <key>size</key>
            <string>{384,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d0b920423f2f0e74dc86503c4fc4b4$</string>
            <key>textureFileName</key>
            <string>obj_spr.png</string>
        </dict>
    </dict>
</plist>
