<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,114},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>floor_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,306}}</string>
                <key>sourceSize</key>
                <string>{192,306}</string>
            </dict>
            <key>floor_sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,56},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>icon_drops.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,414},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_drops_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,414},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,414},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,420},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,304},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,172},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,194},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,304},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,310},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>obj_dart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_mud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{128,120}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_mud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,56},{128,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>txt_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{360,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,52}}</string>
                <key>sourceSize</key>
                <string>{360,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_spr.png</string>
            <key>size</key>
            <string>{570,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d652da04f208e6fc42db8331eeafda$</string>
            <key>textureFileName</key>
            <string>obj_spr.png</string>
        </dict>
    </dict>
</plist>
