<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_batman_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>role_batman_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>role_batman_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{176,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,148}}</string>
                <key>sourceSize</key>
                <string>{176,148}</string>
            </dict>
            <key>role_superman_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>role_superman_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>role_superman_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{160,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_spr.png</string>
            <key>size</key>
            <string>{814,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25dd3549b858f17a8b2de9c5eb28e783$</string>
            <key>textureFileName</key>
            <string>role_spr.png</string>
        </dict>
    </dict>
</plist>
