<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,140},{192,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,36}}</string>
                <key>sourceSize</key>
                <string>{192,36}</string>
            </dict>
            <key>floor_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,726},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>floor_sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,140},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>floor_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,584}}</string>
                <key>sourceSize</key>
                <string>{300,584}</string>
            </dict>
            <key>icon_drops.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,884},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_drops_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,782},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,672},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_home_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,562},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,452},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_pause_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,342},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,828},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_roles_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,718},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,836},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>icon_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,726},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>obj_dart.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,140},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>obj_mud.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,588},{128,120}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>obj_mud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,588},{128,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>txt_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{360,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,52}}</string>
                <key>sourceSize</key>
                <string>{360,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>obj_spr.png</string>
            <key>size</key>
            <string>{444,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b26cb4f7e09249f850e6c5f14b3b29$</string>
            <key>textureFileName</key>
            <string>obj_spr.png</string>
        </dict>
    </dict>
</plist>
