<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_music_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_sound_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>store_batman.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,502},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>store_batman_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,502},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>store_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,198},{348,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,100}}</string>
                <key>sourceSize</key>
                <string>{348,100}</string>
            </dict>
            <key>store_btn_get_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{348,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,100}}</string>
                <key>sourceSize</key>
                <string>{348,100}</string>
            </dict>
            <key>store_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,96},{348,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,100}}</string>
                <key>sourceSize</key>
                <string>{348,100}</string>
            </dict>
            <key>store_btn_play_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{348,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,100}}</string>
                <key>sourceSize</key>
                <string>{348,100}</string>
            </dict>
            <key>store_drops.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{372,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,92}}</string>
                <key>sourceSize</key>
                <string>{372,92}</string>
            </dict>
            <key>store_superman.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,300},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>store_superman_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,300},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>store_superman_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,442},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_spr.png</string>
            <key>size</key>
            <string>{958,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041f62eb2f0de57da7131397a01aec15$</string>
            <key>textureFileName</key>
            <string>setting_spr.png</string>
        </dict>
    </dict>
</plist>
